<header [class.scrolled]="isScrolled">
    <div>
        <nav>
            Portfolio
        </nav>
        <nav class="nav-links">
            <!-- <a href="#home" [class.active]="isActive('#home')">Home</a>
            <a href="#about" [class.active]="isActive('#about')">About</a>
            <a href="#career" [class.active]="isActive('#career')">Career</a>
            <a href="#contact" [class.active]="isActive('#contact')">Contact</a> -->
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/career">Career</a>
            <a routerLink="/contact">Contact</a>
        </nav>
    </div>
</header>